## If - Elif - Else Loop

In [ ]:
# in If elif else - if is mandetory elif, else are optional

In [1]:
x = 10

if x > 11:
    print('Number is greater than 10')
elif x < 5:
    print('Number is less than 5')
elif x >= 5:
    print('Number is greater than 4 & less than 12')

Number is greater than 4 & less than 12

In [2]:
x = 15

if x == 15:
    x = 150
elif x == 20:
    x = 200
elif x == 25:
    x = 250
else:
    x = 300
x

150

In [3]:
x = 150

if x == 7:
    x = 150
elif x == 150:
    x = 200
elif x == 200:
    x = 250
else:
    x = 300
x

200

In [ ]:
# elif statements maybe 0 or many

In [4]:
def fizzBuzz(x):

    if x % 3 == 0 and x % 5 == 0:
        return "FizzBuzz - div by 3&5"

    if x % 3 == 0 or x % 5 == 0:
        if x % 3 == 0:
            return "Fizz - div by 3"
        elif x % 5 == 0:
            return "Buzz - div by 5"
        else:
            return x


print(fizzBuzz(15))
print(fizzBuzz(5))

FizzBuzz - div by 3&5
Buzz - div by 5

In [5]:
def fizzBuzz(x):

    if x % 3 == 0 and x % 5 == 0:
        print("FizzBuzz - div by 3&5")
    else:
        print('Not divisible by both 3&5')

    if x % 3 == 0 or x % 5 == 0:
        if x % 3 == 0:
            return "Fizz - div by 3"
        elif x % 5 == 0:
            return "Buzz - div by 5"
        else:
            return x
    else:
        print('not divisible by 3or5')


print(fizzBuzz(15))
print(fizzBuzz(5))

FizzBuzz - div by 3&5
Fizz - div by 3
Not divisible by both 3&5
Buzz - div by 5

### Write a prg to calculate bmi - body mass index (bmi = weight / height ^ 2).

-  if bmi <= 18.5 print "Underweight"
- if bmi <= 25.0 print "Normal"
- if bmi <= 30.0 print "Overweight"
- if bmi > 30 print "Obese"
- Take inputs => 1. Weight, 2. Height
- Formulae: bmi = weight / height ** 2

In [29]:
weight = float(input("Enter the weight: "))
height = float(input("Enter the height: "))

bmi = weight / (height**2)

if bmi <= 18.5:
    print("underweight")
elif bmi <= 25.0:
    print("Normal")
elif bmi <= 30.0:
    print("Overweight")
else:
    print("Obese")

Enter the weight: 80
Enter the height: 1.87
Normal

In [ ]:
# return will exit the loop    print will not
# return stores the value      print will not
# return generally used in fun

## For Loop

### For + List

In [37]:
websites = ["amazon", "flipkart", "snapdeal", "paytm"]

In [41]:
for item in websites:
    print("www." + item + ".com")

www.amazon.com
www.flipkart.com
www.snapdeal.com
www.paytm.com

In [44]:
for item in websites:
    #     print("www.{}.com".format(item), end=" ")
    print("www.{}.com".format(item))

www.amazon.com
www.flipkart.com
www.snapdeal.com
www.paytm.com

In [45]:
websites = ["amazon", "flipkart", "snapdeal", "paytm"]
extensions = ["com", "org", "in"]

In [ ]:
for i in websites:
    for j in extensions:
        print(f'www.{i}.{j}')

In [46]:
for web in websites:
    for ext in extensions:
        print("www.{}.{}".format(web, ext))

www.amazon.com
www.amazon.org
www.amazon.in
www.flipkart.com
www.flipkart.org
www.flipkart.in
www.snapdeal.com
www.snapdeal.org
www.snapdeal.in
www.paytm.com
www.paytm.org
www.paytm.in

In [6]:
# multiply each element by some no - method 1

g = [1, 2, 3, 4, 5, 6, 7]

h = []

for i in g:
    h.append(i * 7)
h

[7, 14, 21, 28, 35, 42, 49]

In [7]:
#multiply each element by some no - method 2

g = [1, 2, 3, 4, 5, 6, 7]
j = []

for i in range(len(g)):
    j.append(g[i] * 7)

j

[7, 14, 21, 28, 35, 42, 49]

In [10]:
#multiply each element by some no - method 3

g = [1, 2, 3, 4, 5, 6, 7]
j = []

for i in g:
    j = j + [i * 7]

j

[7, 14, 21, 28, 35, 42, 49]

In [8]:
a = [2, 12, 13, 15.1, 17, 10, 17.4, 19, 21]

list_even = []
list_odd = []
list_float = []

for i in a:
    if i % 2 == 0:
        list_even.append(i)
    elif i % 2 == 1:
        list_odd.append(i)

    else:
        list_float.append(i)

print(list_even)
print(list_odd)
print(list_float)

[2, 12, 10]
[13, 17, 19, 21]
[15.1, 17.4]

### for + dict

In [47]:
vk = {"Name" : "Virat", "Age": 31, "Team": "RCB", "Role": "Captain"}

In [48]:
vk.keys()

dict_keys(['Name', 'Age', 'Team', 'Role'])

In [49]:
# Iterate through keys
for item in vk:
    print(item)

Name
Age
Team
Role

In [51]:
# Iterate through values
for item in vk.values():
    print(item)

Virat
31
RCB
Captain

In [52]:
# Iterate through key-value pairs
for key, value in vk.items():
    print(key, value)

Name Virat
Age 31
Team RCB
Role Captain

In [53]:
vk.items()

dict_items([('Name', 'Virat'), ('Age', 31), ('Team', 'RCB'), ('Role', 'Captain')])

In [11]:
for i in range(0,3):
    for j in range(0,3):
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [12]:
for i in range(0,3):
    for j in range(0,3):
        print(i,j)        # completing this for each i then moving to k
    for k in range(4,7):
        print(i,k)        # completing this for each i,k then moving to next i

0 0
0 1
0 2
0 4
0 5
0 6
1 0
1 1
1 2
1 4
1 5
1 6
2 0
2 1
2 2
2 4
2 5
2 6

In [14]:
x=int(input('no of rows : '))

for i in range(0,x):
    print("*",end='')

no of rows : 5
*****

In [15]:
x=int(input('no of rows : '))

for i in range(0,x):
    print("* ",end='')

no of rows : 4
* * * *

In [16]:
x=int(input('no of rows : '))

for i in range(0,x):
    print("*")

no of rows : 8
*
*
*
*
*
*
*
*

In [17]:
x=int(input('no of rows : '))

for i in range(0,x):
    for j in range(0,i+1):
        print("*",end='')

no of rows : 4
**********

In [18]:
x=int(input('no of rows : '))

for i in range(0,x):   # decides no of rows 
    for j in range(0,i+1):    # decides the column structure
        print("*",end='')
    print()

no of rows : 4
*
**
***
****

In [19]:
x=int(input('no of rows : '))

for i in range(0,x):   # decides no of rows 
    for j in range(0,i+1):    # decides the column structure
        print("* ",end='')    # added space after *
    print()

no of rows : 5
*
* *
* * *
* * * *
* * * * *

In [20]:
x=int(input('no of rows : '))

for i in range(0,x):   # decides no of rows 
    for j in range(0,i+1):    # decides the column structure
        print("* ",end='')    # added space after *
    print()

no of rows : 7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [21]:
#Program to print Left Half Pyramid
num_rows = int(input("Enter the number of rows"));
for i in range(0, num_rows):
    for j in range(0, i+1):
        print("* ", end="")
    print()

Enter the number of rows7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [22]:
#Program to print Left Half Pyramid
num_rows = int(input("Enter the number of rows"));
k = 1
for i in range(0, num_rows):
    for j in range(0, k):
        print("* ", end="")
    k = k + 1
    print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [23]:
# Program to print full pyramid
num_rows = int(input("Enter the number of rows"));
for i in range(0, num_rows):
    for j in range(0, num_rows-i-1):
        print(end=" ")
    for j in  range(0, i+1):
        print("*", end=" ")
    print()

Enter the number of rows6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [24]:
n=3
for i in range(1,n+1):
    print('*',end=' ')
    print('*'*abs(2-i),end=' ')
    print('*')

* * *
*  *
* * *

In [25]:
Tuple1 = ('TechGeek')
n = 5
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1,)
    print(Tuple1)

Tuple with a loop
('TechGeek',)
(('TechGeek',),)
((('TechGeek',),),)
(((('TechGeek',),),),)
((((('TechGeek',),),),),)

In [26]:
# Python program to illustrate
# enumerate function in loops
l1 = ["eat","sleep","repeat"]
 
# printing the tuples in object directly
for ele in enumerate(l1):
    print (ele)
print
# changing index and printing separately
for count,ele in enumerate(l1,100):
    print (count,ele)
 
#getting desired output from tuple
for count,ele in enumerate(l1):
  print(count)
  print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat
0
eat
1
sleep
2
repeat

#### Break Continue & Pass

In [27]:
for i in 'geeks for geeks':
    if i=='e' or i=='s':
        continue
    print (i)

g
k

f
o
r

g
k

In [28]:
for letter in 'geeks for geeks': 
    if letter == 'e' or letter == 's':
         continue
    print ('Current Letter :', letter)
# printing inside the for loop

Current Letter : g
Current Letter : k
Current Letter :
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter :
Current Letter : g
Current Letter : k

In [29]:
for i in 'geeksforgeeks': 
    if i == 'e' or i == 's':
         break
    print ('Current i :', i)
# comes out of for loop after printing

Current i : g

In [30]:
for i in 'geeksforgeeks': 
    if i == 'e' or i == 's':
        print ('Current i :', i)
        break
    
# print in the if loop then breaks & comes out of for loop
# can enter the if loop only for e & s

Current i : e

In [31]:
# does not matter what condition is it will not execute that loop, execute outof loop
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
             pass
    print ('last Letter :', letter)

last Letter : g
last Letter : e
last Letter : e
last Letter : k
last Letter : s
last Letter : f
last Letter : o
last Letter : r
last Letter : g
last Letter : e
last Letter : e
last Letter : k
last Letter : s

In [32]:
# An empty loop
for letter in 'geeksforgeeks':
    pass
print('Last Letter :', letter)

Last Letter : s

In [33]:
####################  FOR LOOP WITH ELSE -- came out because of break ??? #####################################

for i in range(5):
    print(i)
else:
    print('no break')

0
1
2
3
4
no break

In [34]:
############### FOR LOOP WITH ELSE - came out of for loop bcoz of break hence else is not executed ######################

for i in range(5):
    print(i)
    break
else:
    print('no break')

0

In [35]:
## See diff of print position - more idea of continue

for i in range(5):
    print(i)
    continue

0
1
2
3
4

In [36]:
for i in range(5):
    continue
    print(i)

In [37]:
for i in range(25,2,-2):
    print (i,end=" ")

25 23 21 19 17 15 13 11 9 7 5 3

#### Break ,Continue & Pass in for loop & def function - diff

In [2]:
for i in range(25,2,-2):
    pass

In [3]:
for i in range(25,2,-2):
    continue

In [4]:
def func(x):
    pass

In [5]:
def func(x):
    continue

SyntaxError: 'continue' not properly in loop (<ipython-input-5-5bbc793d7cfa>, line 2)

## While Loop

In [38]:
l=['harry','sam','soham','sachin','rahul']
i=0
while i<len(l):
    if l[i].startswith('s'):
        print('greetings of the day : ',l[i],'!')
    i+=1

greetings of the day :  sam !
greetings of the day :  soham !
greetings of the day :  sachin !

In [39]:
i=0

while i in range(11):
    print(i,end=' ')
    i+=1

0 1 2 3 4 5 6 7 8 9 10

In [40]:
i=0
sum=0
while i in range(11):
    sum=sum+i
    i+=1
    print(sum,end=' ')

0 1 3 6 10 15 21 28 36 45 55

In [41]:
i=1
sum=0
while i <=10:
    sum=sum+i
    i+=1
print('the sum is:',sum)
#printing outof while loop

the sum is: 55

In [42]:
a='time is money'
i=0

while i in range(len(a)):
    if a[i]=='e' or a[i]=='i':
        i+=1 # to exit from if loof
        continue
    print(' the current letter is : ',a[i])
    i+=1  # to exit from current while loop

 the current letter is :  t
 the current letter is :  m
 the current letter is :
 the current letter is :  s
 the current letter is :
 the current letter is :  m
 the current letter is :  o
 the current letter is :  n
 the current letter is :  y

In [43]:
a='time is money'
i=0

while i<len(a):
    if a[i]=='i' or a[i]=='e':
        i+=1 # optional as execution of break exits all loops unlike continue 
        break
    print(' the current letter is : ',a[i])
    i+=1  # to exit from current while loop

 the current letter is :  t

In [44]:
a='time is money'
i=0

while i<len(a):
    if a[i]=='i' or a[i]=='e':
        i+=1 # optional as execution of break exits all loops unlike continue - it will skip that i as i+1 & prints next
        pass
    print(' the current letter is : ',a[i])
    i+=1  # to exit from current while loop

 the current letter is :  t
 the current letter is :  m
 the current letter is :
 the current letter is :  s
 the current letter is :
 the current letter is :  m
 the current letter is :  o
 the current letter is :  n
 the current letter is :  y

In [45]:
a='time is money'
i=0

while i<len(a):
    if a[i]=='i' or a[i]=='e': 
        pass  
    print(' the current letter is : ',a[i])
    i+=1  # to exit from current while loop

 the current letter is :  t
 the current letter is :  i
 the current letter is :  m
 the current letter is :  e
 the current letter is :
 the current letter is :  i
 the current letter is :  s
 the current letter is :
 the current letter is :  m
 the current letter is :  o
 the current letter is :  n
 the current letter is :  e
 the current letter is :  y

In [46]:
i = 0
while i < 4:
    i += 1
    print(i) #start from 1

1
2
3
4

In [47]:
i = 0
while i < 4:
    print(i)  #start from 0
    i += 1

0
1
2
3

In [48]:
i = 0
while i < 4:
    print(i)
    i+=1
else: 
    print('no break')

0
1
2
3
no break

In [49]:
i = 0
while i < 4:
    i += 1
    print(i)
    break
else:  # Not executed as there is a break
    print("No Break")

1

In [50]:
i = 5
while i < 4:
    i += 1
    print(i)
    break
else:  # while not executed as condition is not True  5<4 is false
    print("No Break")

No Break

### Excercise

In [10]:
# write a program to take five nos from the user and print the largest

n=[]
for i in range(0,5):
    num=int(input('enter the integer : '))
    n.append(num)
print(n)
n.sort()
print(n[-1])

enter the integer : 89
enter the integer : 23
enter the integer : 54
enter the integer : 98
enter the integer : 67
[89, 23, 54, 98, 67]
98

In [6]:
# write a program to take five nos from the user and print the largest
# using max function
n=[]
for i in range(0,5):
    num=int(input('enter the integer : '))
    n.append(num)
print(max(n))

enter the integer : 89
enter the integer : 23
enter the integer : 54
enter the integer : 98
enter the integer : 67
98

In [11]:
## write a program to get the sum of all the elements in the list

numbers = [11,22,33,44,55,66,77,88,99]

s=0
for i in numbers:
    s=s+i
print(s)

495

In [7]:
## write a program to get the sum of all the elements in the list

numbers = [11,22,33,44,55,66,77,88,99]

s=0
i=0
while i<len(numbers):
    
    s=s+numbers[i]
    i+=1

print(s)

495

In [8]:
sub='MATHEMATICS'
consonants=[]
for i in sub:
    if i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        continue
    consonants.append(i)
consonants

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [9]:
sub='MATHEMATICS'
consonants=[]
for i in sub:
    if i not in 'AEIOU':
        consonants.append(i)
consonants

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [10]:
[i for i in sub if i not in 'AEIOU']

['M', 'T', 'H', 'M', 'T', 'C', 'S']

### take input from user and print reverse of a number
### input=123
### output=321

In [1]:
### iterating over a string

num=input('enter the integer : ')

rev=num[::-1]
print(rev)

enter the integer : 159
951

In [2]:
num=input('enter the integer : ')

rev=num[::-1]
print(rev)

enter the integer : 19832564
46523891

In [ ]:
#### how to reverse when it is int
# dont use string operation