# Functions
    
    *block of code
    *code reusability
    * DRY - Don't Repeat Yourself

## In Built Functions

In [1]:
# output of input function is always String type

val = input('enter the value: ')

enter the value: 17

In [2]:
type(val)

str

In [3]:
# converting to int

val = int(input('enter the value: '))

print(type(val))

enter the value: 78
<class 'int'>

In [4]:
# converting to int

val = eval(input('enter the value: '))

print(type(val))

enter the value: 7
<class 'int'>

In [5]:
num = int(input('enter the no : '))
factorial = 1
if num < 0:
    print('must be positve')
elif num == 0:
    print("factorial=1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print('factorial :', factorial)

enter the no : 5
factorial : 120

In [6]:
length = input('enter the length:')
width = input('enter the width:')
Area = int(length) * int(width)
print('Area is :', Area)

enter the length:11
enter the width:17
Area is : 187

In [7]:
length = int(input('enter the length:'))
width = int(input('enter the width:'))
Area = length * width
print('Area is :', Area)

enter the length:11
enter the width:17
Area is : 187

In [ ]:
# eval - converts string to float or int based on value
## int - if string is float n we try for int(input) throws error

In [8]:
### Print function  - always in () == print()

a='Hello folks, Welcome to the python session !!'
b='I love Python'

print(a+b) 

#both should be of same type
# both are string type hence

Hello folks, Welcome to the python session !!I love Python

In [9]:
print(a,b,end=' & ')

Hello folks, Welcome to the python session !! I love Python &

In [10]:
print('updated string ',a[0:11],b )

updated string  Hello folks I love Python

In [11]:
print('2+5*3')

2+5*3

In [12]:
print(eval('2+5*4'))

22

In [13]:
#string formating

print("my name is %s and weight is %d kgs! my facther name is %s"%("Pankaj",62,'Prabhakar'))

my name is Pankaj and weight is 62 kgs! my facther name is Prabhakar

## Defining a function

In [14]:
def num(x):
    if x < 0:
        print('must be positve')
    elif x == 0:
        print("factorial:", 1)
    else:
        factorial = 1
        for i in range(1, x + 1):
            factorial = factorial * i
        print('factorial :', factorial)

In [15]:
num(5)

factorial : 120

In [16]:
# Prime function


def prime(x):

    if x < 2:
        return 'Not a Prime No'
    if x == 2:
        return 'A Prime No'
    if x > 2:
        for n in range(2, x):
            print('trying to divide with', n)
            if x % n == 0:
                return 'Not a Prime No'
            else:
                return 'A Prime No'

In [17]:
prime(22)

trying to divide with 2

'Not a Prime No'

In [18]:
prime(27)
# because of return at else - exiting

trying to divide with 2

'A Prime No'

In [19]:
# Prime function


def prime1(x):

    if x < 2:
        return 'Not a Prime No'
    if x == 2:
        return 'A Prime No'
    if x > 2:
        for n in range(2, x):
            print('trying to divide with', n)
            if x % n == 0:
                return 'Not a Prime No'
        return 'A Prime No'

In [20]:
prime1(22)

trying to divide with 2

'Not a Prime No'

In [21]:
prime1(27)

trying to divide with 2
trying to divide with 3

'Not a Prime No'

In [22]:
prime1(29)

trying to divide with 2
trying to divide with 3
trying to divide with 4
trying to divide with 5
trying to divide with 6
trying to divide with 7
trying to divide with 8
trying to divide with 9
trying to divide with 10
trying to divide with 11
trying to divide with 12
trying to divide with 13
trying to divide with 14
trying to divide with 15
trying to divide with 16
trying to divide with 17
trying to divide with 18
trying to divide with 19
trying to divide with 20
trying to divide with 21
trying to divide with 22
trying to divide with 23
trying to divide with 24
trying to divide with 25
trying to divide with 26
trying to divide with 27
trying to divide with 28

'A Prime No'

In [23]:
# it is trying too many iterations
# optimizing

In [24]:
# Prime function


def prime1(x):

    if x < 2:
        return 'Not a Prime No'
    if x == 2:
        return 'A Prime No'
    if x > 2:
        for n in range(2, x // 2 + 1):
            print('trying to divide with', n)
            if x % n == 0:
                return 'Not a Prime No'
        return 'A Prime No'

In [25]:
prime1(29)

trying to divide with 2
trying to divide with 3
trying to divide with 4
trying to divide with 5
trying to divide with 6
trying to divide with 7
trying to divide with 8
trying to divide with 9
trying to divide with 10
trying to divide with 11
trying to divide with 12
trying to divide with 13
trying to divide with 14

'A Prime No'

In [26]:
# further optimizing - even number

# Prime function


def prime1(x):

    if x < 2:
        return 'Not a Prime No'

    if x == 2 or x == 3 or x == 5:
        return 'A Prime No'

    for n in range(2, x):
        if x % 2 == 0:  # if x%2==0 or x%3==0 or x%5==0:  elif
            return 'Not a Prime No'
        if x % 3 == 0:
            return 'Not a Prime No'
        if x % 5 == 0:
            return 'Not a Prime No'

    for n in range(3, x // 2 + 1, 2):
        print('trying to divide with', n)
        if x % n == 0:
            return 'Not a Prime No'
    return 'A Prime No'

In [27]:
prime1(29)

trying to divide with 3
trying to divide with 5
trying to divide with 7
trying to divide with 9
trying to divide with 11
trying to divide with 13

'A Prime No'

In [28]:
prime1(27)

'Not a Prime No'

In [31]:
prime1(4)

'Not a Prime No'

In [98]:
def is_valid_zip(zip_code):
    """Returns whether the input string is a valid (6 digit) zip code   type will tell str in both cases as shown below
    """
    
    if len(zip_code)==6 and zip_code.isdigit():
        return True
    else:
        return 'enter a valid Zip Code'

In [99]:
is_valid_zip('431506')

True

In [100]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True] """
    
    lis = []
    for item in L:
        if item > thresh:
            lis.append(True)
        else:
            lis.append(False)
    return lis

elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]

In [101]:
def elementwise_greater_than2(L, thresh):
    list1=[]
    for item in L:
        list1.append(item>thresh)    # inside () will give Boolen o/p
        
    return list1
elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]

## Inbuilt Functions - Cont.

### Lambda - Anonymous Function

In [34]:
# known as anonymous function - need to give name 
y = lambda x:x*5

In [35]:
# call function y 
y(5)

25

In [36]:
prim= lambda x : 'A Prime No' if len([i for i in range(2,x) if x%i==0])==0 else ' Not a Prime No'

In [37]:
# will not work for <=2 as condition given 
prim(2)

'A Prime No'

In [38]:
prim(4)

' Not a Prime No'

In [39]:
prim(5)

'A Prime No'

In [40]:
fun=lambda x:[i for i in range(2,x) if x%i==0]
print('gives list of all who can divide the number ')
fun(12)

gives list of all who can divide the number

[2, 3, 4, 6]

In [41]:
Maxt= lambda a,b: a if a>b else b
Maxt(5,4)

5

In [42]:
#Python Lambda with Multiple statements

List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
 
# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)

# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]

res = secondLargest(List, sortList)

res

[3, 16, 9]

In [43]:
### 
tables = [lambda x=x: x*10 for x in range(1, 11)]

# table is fun here as assigned to the lambda
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

### List Comprehension

In [ ]:
# [o/p for i in ...... if ...else ....]

In [44]:
l=[1,2,3,4,5,6,7,8,9,9.3,10,11,13,17,19,21,27,33,63.4,77]

In [45]:
# even , odd & float in len(l)
l1=[[i for i in range(len(l)) if i%2==0],[i for i in range(len(l)) if i%2==1],[i for i in range(len(l)) if type(i)==float]]

In [46]:
l1

[[0, 2, 4, 6, 8, 10, 12, 14, 16, 18], [1, 3, 5, 7, 9, 11, 13, 15, 17, 19], []]

In [47]:
# even , odd & float in l
l2=[[i for i in l if i%2==0],[i for i in l if i%2==1],[i for i in l if type(i)==float]]
l2

[[2, 4, 6, 8, 10],
 [1, 3, 5, 7, 9, 11, 13, 17, 19, 21, 27, 33, 77],
 [9.3, 63.4]]

In [48]:
### Python has dictionary comprehensions with a syntax similar to the list comprehensions we saw in the previous tutorial.
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [1]:
sub='MATHEMATICS'
consonants=[]
for i in sub:
    if i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        continue
    consonants.append(i)
consonants

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [4]:
cons=[i for i in sub if i!='A' and i!='E' and i!='I' and i!='O' and i!='U' ]
cons

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [5]:
consonants=[i for i in sub if i not in 'AEIOU']
consonants

['M', 'T', 'H', 'M', 'T', 'C', 'S']

In [7]:
# multiple for loops inside LC
websites = ["amazon", "flipkart", "snapdeal", "paytm"]
extensions = ["com", "org", "in"]

name= [f'www.{i}.{j}' for i in websites for j in extensions ]
name

['www.amazon.com',
 'www.amazon.org',
 'www.amazon.in',
 'www.flipkart.com',
 'www.flipkart.org',
 'www.flipkart.in',
 'www.snapdeal.com',
 'www.snapdeal.org',
 'www.snapdeal.in',
 'www.paytm.com',
 'www.paytm.org',
 'www.paytm.in']

In [9]:
s = "Welcome to the world of Python Programming"
# [("Welcome", 7), ("to", 2), ("the", 3), ...]

In [ ]:
# Approach 1 -> Normal , Without LC
# Approach 2 -> Using LC

In [12]:
# approach 1
lst=[]
for i in s.split(' '):
    lst.append((i,len(i)))
lst

[('Welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('Python', 6),
 ('Programming', 11)]

In [13]:
# approach 2

[(i,len(i)) for i in s.split(' ')]

[('Welcome', 7),
 ('to', 2),
 ('the', 3),
 ('world', 5),
 ('of', 2),
 ('Python', 6),
 ('Programming', 11)]

In [ ]:
#  Write a program which will find all such numbers which are divisible by 7
# but are not a multiple of 5, between 200 and 320 (both included).
# The numbers obtained should be printed in a comma-separated
# sequence on a single line.
#
# Hints:
# Consider use range(#begin, #end) method

In [ ]:
# Approach 1 -> Normal , Without LC
# Approach 2 -> Using LC

In [17]:
# Approach 1 -> Normal , Without LC
n=[]
for i in range(200,321,1):
    if i%5!=0:
        if i%7==0:
            n.append(str(i))
print(",".join(n))

203,217,224,231,238,252,259,266,273,287,294,301,308

In [20]:
','.join([str(i) for i in range(200,321) if i%5!=0 and i%7==0 ])

'203,217,224,231,238,252,259,266,273,287,294,301,308'

In [21]:
{item:item*item for item in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [22]:
s = "the quick brown fox jumps over the lazy dog"
# {"t": 2, "h": 1, ...}

In [24]:
{i:s.count(i) for i in s}

{'t': 2,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 4,
 'w': 1,
 'n': 1,
 'f': 1,
 'x': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 1,
 'g': 1}

### Recursion

In [49]:
############### Recurssion Function  ( Function within Function) #################

def factorial(x):
    if x==0 or x==1:
        return 1
    if x>1:
        return x*factorial(x-1)

In [50]:
factorial(5)

120

In [51]:
factorial(11)

39916800

In [52]:
# or
def facto(x):
    if x==0:
        return 1
    else:
        return facto(x-1)*x

In [53]:
facto(7)

5040

In [54]:
facto(3)

6

In [68]:
n=eval(input('enter the no to find factorial = '))
i=1
s=1
while i<=n:
    s=s*i
    i+=1

print(s)

enter the no to find factorial = 5
120

In [67]:
def fibonassi(x):
    if x==1 or x ==2:
        return 1
    else:
        return fibonassi(x-1)+fibonassi(x-2)

In [56]:
fibonassi(7)

13

In [57]:
fibonassi(13)

233

### MAP  & FILTER

In [69]:
# Map -- iterates over the sequence like list,tuple

# list(map(fun, seq))

l=[1,2,3,4,5]

#multiply by some no

f=lambda x:x*5

list(map(f,l))

[5, 10, 15, 20, 25]

In [70]:
l1=(5,6,7,8,9,10)

list(map(f,l1))

[25, 30, 35, 40, 45, 50]

In [71]:
l2=[1,2,3,4,5,6,7,8,9,10,11,13,17,19,21,27,33]

list(map(prime1,l2))

trying to divide with 3
trying to divide with 3
trying to divide with 5
trying to divide with 3
trying to divide with 5
trying to divide with 3
trying to divide with 5
trying to divide with 7
trying to divide with 3
trying to divide with 5
trying to divide with 7
trying to divide with 9

['Not a Prime No',
 'A Prime No',
 'A Prime No',
 'Not a Prime No',
 'A Prime No',
 'Not a Prime No',
 'A Prime No',
 'Not a Prime No',
 'Not a Prime No',
 'Not a Prime No',
 'A Prime No',
 'A Prime No',
 'A Prime No',
 'A Prime No',
 'Not a Prime No',
 'Not a Prime No',
 'Not a Prime No']

In [ ]:
# take a sequence of inputs(nos)(which are comma separated)
#cal the sum

In [4]:
# not , separated num
n=[]
for i in range(5):
    v=eval(input('enter the no: '))
    n.append(v)
print(n) 
s=0
for i in n:
    s+=i
print(f'sum is {s}')

enter the no: 1
enter the no: 2
enter the no: 3
enter the no: 4
enter the no: 5
[1, 2, 3, 4, 5]
sum is 15

In [5]:
v=input('enter the Comma seperated no: ')

num=v.split(',')  #list
s=0
for i in num:
    s+=eval(i)
print(f'sum is {s}')

enter the Comma seperated no: 1,2,3,4,5
sum is 15

In [25]:
### BY List Comprehension   - we get list - apply on list

print(sum(list(map(eval,input('enter the sequence of no MUST be comma separated: ').split(',')))))

enter the sequence of no MUST be comma separated: 1,2,3,4,5
15

In [26]:
sum(list(map(eval,input('enter the sequence of no  MUST be comma separated : ').split(','))))

enter the sequence of no  MUST be comma separated : 8,2,7,9,3

29

In [ ]:
# sum of list element , map is fun where you iterate over each element in list

In [72]:
# Filter -- iterates over the sequence like list,tuple & filters objects based on fun

# list(filter(fun, seq))

l=[2,3,4,5,6,8,10,11,13,26,29,32]

#filtering even nos

f=lambda x:(x%2==0)

list(filter(f,l))

[2, 4, 6, 8, 10, 26, 32]

In [73]:
# filter() with lambda()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

list(filter(lambda x:(x%2!=0) , li))

[5, 7, 97, 77, 23, 73, 61]

In [74]:
# code to people above 18 yrs
ages = [13, 90, 17, 59, 21, 60, 5]

list(filter(lambda x:(x>18),ages))

[90, 59, 21, 60]

### Reduce

In [75]:
################################# Reduce #############################

from functools import reduce 

# gets roll over 

a,b,c,d,e --- a+b,c,d,e -- a+b+c,d,e  ---a+b+c+d,e ---- a+b+c+d+e
a,b,c,d,e --- a*b,c,d,e -- a*b*c,d,e  ---a*b*c*d,e ---- a*b*c*d*e

In [76]:
def fun(a,b):
    return a+b

reduce(fun,[1,2,3,4,5])

15

In [77]:
li = [5, 8, 10, 20, 50, 15]

reduce((lambda x,y:x*y), li)

6000000

In [78]:
lst = [5, 8, 10, 20, 50, 100,27,38,44,189]

reduce((lambda x,y:x if x>y else y ), lst)

189

### Chain

In [79]:
#to join the range
#concatenation of range 

from itertools import chain

In [80]:
res=chain(range(5),range(10,20,2))

for i in res:
    print(i,end=' ')

0 1 2 3 4 10 12 14 16 18

### Generator Function

In [81]:
### it calculates but does not shows the list (tuple comprehension)
b=(i for i in range(2,10))
b

In [82]:
# to visiualize
list(b)

[2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
tuple(b)

()

In [84]:
### it calculates and shows the list (list comprehension)
a=[i for i in range(2,10)]
a

[2, 3, 4, 5, 6, 7, 8, 9]

### Exception Handeling

In [ ]:
# without intrupting the code it executes it and tell us error

In [85]:
def mfun(x,y):
    try:
        return x/y
    except Exception as e :
        print ("we got ",e," an error")

In [86]:
mfun(10,0)

we got  division by zero  an error

In [87]:
a = [1, 2, 3]
try:
    print ("Second element = %d, third element = %d, my name is = %s" %(a[1], a[2], "pankaj"))
    print ("sec ele = {}".format(a[1]))
 
    # Throws error since there are only 3 elements in array
    print ("Fourth element = %d" %(a[3]))
except :
        print ("An error occurred")

Second element = 2, third element = 3, my name is = pankaj
sec ele = 2
An error occurred

In [88]:
# Program to handle multiple errors with one
# except statement
# Python 3
 
def fun(a):
    if a < 4:
 
        # throws ZeroDivisionError for a = 3
        b = a/(a-3)
 
    # throws NameError if a >= 4
    print("Value of b = ", b)

In [89]:
# without try & except 
fun(3)

ZeroDivisionError: division by zero

In [90]:
# without try & except 
fun(5)

UnboundLocalError: local variable 'b' referenced before assignment

In [91]:
def func(a):
    try:
        if a < 4:
 
            # throws ZeroDivisionError for a = 3
            b = a/(a-3)
 
            # throws NameError if a >= 4
            print("Value of b = ", b)
        else:
            print('Value of b', a)
    except ZeroDivisionError:
        print('zero division error occured & handeled')

    except NameError:
        print('Name error occured & handeled')
    
    except exception as e:
        print('we got an' ,e,'error')

In [92]:
func(3)

zero division error occured & handeled

In [93]:
func(5)

Value of b 5

In [94]:
func(7)

Value of b 7

#### Exception Handling with  Else & Finally Statement
 
 * Else - Executed only when Try part is successful   ( similar to for statement with else)
 * Finally - Executes Every time

In [ ]:
try:
    fh = open("ExceptionHandling.txt", "w")
    fh.write("Opening the file.\n")

    userInput = input("Enter any number: ")
    fh.write("The user entered number is: {}\n".format(userInput))

    result = 100 / int(userInput)
    fh.write("The final result is: {}\n".format(result))

    print("Result: ", result)
    # fh.write("Closing the file")
    # fh.close()
except ValueError:
    print("Please enter only numbers")
except ZeroDivisionError:
    print("Please enter numbers greater than zero.")
finally:
    fh.write("Closing the file")
    fh.close()

### Enumerate Function

In [102]:
# enumerate - adds counter  - STRING

string1='Pankaj'

list(enumerate(string1))

# for string - (counter,character)
# index,items or count,ele

[(0, 'P'), (1, 'a'), (2, 'n'), (3, 'k'), (4, 'a'), (5, 'j')]

In [103]:
# enumerate - adds counter  - LIST

lst=['Pankaj', 'is','a','good','boy']

list(enumerate(lst))

# for List - (counter,character)  - compare with string

[(0, 'Pankaj'), (1, 'is'), (2, 'a'), (3, 'good'), (4, 'boy')]

In [104]:
# enumerate  -- TUPLE

a = ("bee", "ant", "moth", "ant")

list(enumerate(a))

[(0, 'bee'), (1, 'ant'), (2, 'moth'), (3, 'ant')]

In [6]:
# enumerate  -- SET

a = {"bee", "ant", "moth", "ant",'snake','dog'}

list(enumerate(a))

[(0, 'snake'), (1, 'ant'), (2, 'dog'), (3, 'moth'), (4, 'bee')]

In [7]:
# enumerate  -- dict

a = {"bee":31, "ant":62, "moth":77, "ant":88,'snake':45,'dog':17}

list(enumerate(a))

[(0, 'bee'), (1, 'ant'), (2, 'moth'), (3, 'snake'), (4, 'dog')]

In [9]:
# enumerate  -- dict

a = {"bee":31, "ant":62, "moth":77, "ant":88,'snake':45,'dog':17}

list(enumerate(a.values()))

[(0, 31), (1, 88), (2, 77), (3, 45), (4, 17)]

In [10]:
# enumerate  -- dict

a = {"bee":31, "ant":62, "moth":77, "ant":88,'snake':45,'dog':17}

list(enumerate(a.items()))

[(0, ('bee', 31)),
 (1, ('ant', 88)),
 (2, ('moth', 77)),
 (3, ('snake', 45)),
 (4, ('dog', 17))]

### Range Function

     * DOES NOT SUPPORT FLOAT

In [105]:
range(1,11,1)

range(1, 11)

In [106]:
#we have to make list
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [107]:
#indexing accessing purpose

range(10)[7]

7

In [108]:
# Range DOES NOT Support Float Values
range(10.5)

TypeError: 'float' object cannot be interpreted as an integer

###  Round Function

In [109]:
round(3.1478,2)

3.15

### Sorted & Join Function

In [110]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string. (sorted not sort)
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

### Named Arguments

 * While defining function 
    * ways to pass arguments 
    * positional has preference over keyword

In [1]:
def namedArgumentFunction(a,b,c):
    print(f'The value of a is {a}, b is {b}, c is {c}')

In [2]:
namedArgumentFunction(10,20,30)  # positional way

The value of a is 10, b is 20, c is 30

In [3]:
namedArgumentFunction(c=10,a=20,b=30)  # keyword way

The value of a is 20, b is 30, c is 10

In [ ]:
# positional must be before the keyword or else error

In [4]:
namedArgumentFunction(a=10,20,30)  # positional must be before keyword

SyntaxError: positional argument follows keyword argument (<ipython-input-4-4d697bac3022>, line 1)

In [6]:
namedArgumentFunction(10,20,a=30)  # repetation not allowed

TypeError: namedArgumentFunction() got multiple values for argument 'a'

In [7]:
namedArgumentFunction(10,20,c=30)  # positional followed by keyword

The value of a is 10, b is 20, c is 30

In [8]:
namedArgumentFunction(10,20,30,c=30)  # reassigning not supported

TypeError: namedArgumentFunction() got multiple values for argument 'c'

In [9]:
def defaultNamedFunction(x=123):
      print(f'The value of x is {x}')
# if nothing passed x=123

In [10]:
defaultNamedFunction()

The value of x is 123

In [11]:
defaultNamedFunction(456)

The value of x is 456

### Wrapper Function

In [12]:
def getCube(x):
    return x**3

In [13]:
def wrapperFunction(FunAsParam,num):
    return FunAsParam(num)

In [14]:
wrapperFunction(getCube,10)

1000

In [15]:
def getSq(x):
    return x**2

In [16]:
lst=[getSq,getCube]

In [17]:
for i in lst:
    print(wrapperFunction(i,5))

25
125

In [19]:
import math

In [20]:
# we call any function which is predifined

wrapperFunction(math.factorial,7)

5040

## args & kwargs

### args

* these are not keyword
* for packing *args 0r *pankaj - packed in to a tuple
* we can pass any no of arguments without changing the code
* we pack the multiple arguments inside tuple and then iterate it

In [21]:
# ex - 2 arguments
def sumOfNum(a,b):
    return a+b

### this works only for 2 arguments

In [22]:
sumOfNum(7,2)

9

In [23]:
## ex -3 arguments
def sumOfNum3(a,b,c):
    return a+b+c

### this works only for 3 arguments

In [24]:
sumOfNum3(2,90,11)

103

In [ ]:
### so every time as no of aruments are changing we have to modify the code 
# to avoid this we use *args

In [25]:
def sumOfNumbers(*args): # packing as Tuple
    print('my arguments are : ', args)
    print('my args are packed in type :-', type(args))
    s=0
    for i in args:
       s+=i
    return s

In [26]:
sumOfNumbers(11,43,23,56,78,34,59,61,37)

my arguments are :  (11, 43, 23, 56, 78, 34, 59, 61, 37)
my args are packed in type :- <class 'tuple'>

402

In [27]:
sumOfNumbers(11,43)

my arguments are :  (11, 43)
my args are packed in type :- <class 'tuple'>

54

In [ ]:
# though the arguments vary my fun is same

In [28]:
def sumofPank(*panks):
    print('my arguments are : ', panks)
    print('my args are packed in type :-', type(panks))
    s=0
    for i in panks:
       s+=i
    return s

In [29]:
sumofPank(11,43,23,56,78,34,59,61,37)

my arguments are :  (11, 43, 23, 56, 78, 34, 59, 61, 37)
my args are packed in type :- <class 'tuple'>

402

In [30]:
sumofPank(11,43)

my arguments are :  (11, 43)
my args are packed in type :- <class 'tuple'>

54

In [ ]:
### but it is recommended to use *args - nomenclature - uniformity - readability of code

In [ ]:
#### packing & unpacking 

# lets see how to pass tuple / list as arguments inside function

In [32]:
t = (10, 34, 45, 78)

In [33]:
sumOfNumbers(t[0],t[1],t[2],t[3]) # hectic

my arguments are :  (10, 34, 45, 78)
my args are packed in type :- <class 'tuple'>

167

In [34]:
sumOfNumbers(*t)   # unpacking - caller side - easy

my arguments are :  (10, 34, 45, 78)
my args are packed in type :- <class 'tuple'>

167

In [35]:
sumOfNumbers(t) 

#### unpacking not Done - hence it created Tuple inside tuple as not unpacked

my arguments are :  ((10, 34, 45, 78),)
my args are packed in type :- <class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

* packing - done inside tuple
* unpacking from tuple,list,set

In [36]:
usrInput = input("Enter comma separated numbers to add: ")

Enter comma separated numbers to add: 1,7,3,9,6,2,10,18,21,29,37,53,43,47

In [37]:
# above is a string separated by ,

lst = usrInput.split(',')
lst

['1', '7', '3', '9', '6', '2', '10', '18', '21', '29', '37', '53', '43', '47']

In [38]:
type(lst[0])

str

In [39]:
new_lst=[]
for i in lst:
    new_lst.append(eval(i))
new_lst

[1, 7, 3, 9, 6, 2, 10, 18, 21, 29, 37, 53, 43, 47]

In [40]:
type(new_lst[0])

int

In [41]:
sumOfNumbers(*new_lst)

my arguments are :  (1, 7, 3, 9, 6, 2, 10, 18, 21, 29, 37, 53, 43, 47)
my args are packed in type :- <class 'tuple'>

286

In [43]:
s = {1, 5, 7, 9, 10}

In [44]:
sumOfNumbers(*s)

my arguments are :  (1, 5, 7, 9, 10)
my args are packed in type :- <class 'tuple'>

32

In [ ]:
# can't use for dictionary

### kwargs

In [45]:
def printPlayerDetails(**kwargs):
    print('my arguments are in dict format - ',kwargs)
    print('Type os my kwargs',type(kwargs))

In [46]:
printPlayerDetails(name="Virat", age=33, team="RCB")

my arguments are in dict format -  {'name': 'Virat', 'age': 33, 'team': 'RCB'}
Type os my kwargs <class 'dict'>

In [47]:
printPlayerDetails(name="Virat", age=33, team="RCB", salary=1000)

my arguments are in dict format -  {'name': 'Virat', 'age': 33, 'team': 'RCB', 'salary': 1000}
Type os my kwargs <class 'dict'>

In [ ]:
# API
# 2020: Client V1 - Server Exposed one Function(a, b, c) => V1
# 2021: Server Function(a, b, c, d) => V2, Client V2

In [48]:
def printPlayerDetails(**kwargs):  # Packing + Dict
    print("kwargs: ", kwargs)
    print("Type of kwargs: ", type(kwargs))
    if "version" not in kwargs:
        print("Not a valid client")
        return

    if kwargs["version"] == "V1":
        print("Printing for version V1")
    elif kwargs["version"] == "V2":
        print("Printing for version V2")

In [49]:
printPlayerDetails(name="Virat", age=33, team="RCB", version="V1")

kwargs:  {'name': 'Virat', 'age': 33, 'team': 'RCB', 'version': 'V1'}
Type of kwargs:  <class 'dict'>
Printing for version V1

In [50]:
printPlayerDetails(name="Virat", age=33, team="RCB", salary=1000, version="V2")

kwargs:  {'name': 'Virat', 'age': 33, 'team': 'RCB', 'salary': 1000, 'version': 'V2'}
Type of kwargs:  <class 'dict'>
Printing for version V2

In [51]:
printPlayerDetails(name="Virat", age=33, team="RCB")

kwargs:  {'name': 'Virat', 'age': 33, 'team': 'RCB'}
Type of kwargs:  <class 'dict'>
Not a valid client

In [52]:
d = {"name": "MSD", "age": 39, "team": "CSK", "version": "v1"}

In [54]:
printPlayerDetails(**d)   ### unpacking

kwargs:  {'name': 'MSD', 'age': 39, 'team': 'CSK', 'version': 'v1'}
Type of kwargs:  <class 'dict'>

In [55]:
printPlayerDetails()

kwargs:  {}
Type of kwargs:  <class 'dict'>
Not a valid client

In [56]:
printPlayerDetails(d)

TypeError: printPlayerDetails() takes 0 positional arguments but 1 was given

## Functions & Mutable Params

In [57]:
# list is mutable - initializing with [] but over iteration value changes
def EmptyListAsParam(my_list=[]):
    my_list.append("24July2021")
    return my_list

In [60]:
r = EmptyListAsParam()
r

['24July2021']

In [ ]:
# now r=['24July2021']

In [61]:
r = EmptyListAsParam()
print("The value of r after 2nd iteration is: ", r)

The value of r after 2nd iteration is:  ['24July2021', '24July2021']

In [ ]:
# now r=['24July2021', '24July2021']

In [62]:
r = EmptyListAsParam()
print("The value of r after 3rd iteration is: ", r)

The value of r after 3rd iteration is:  ['24July2021', '24July2021', '24July2021']

In [65]:
# initializing with NONE SO over iteration value DOES NOT changes -Initializing value = None
# for every iteration we get brand new empty list


def EmptyListAsParamV1(my_list=None):
    if my_list == None:
        my_list = []

    my_list.append("24July2021")

    return my_list

In [66]:
r = EmptyListAsParamV1()
print("The value of r after 1st iteration is: ", r)

The value of r after 1st iteration is:  ['24July2021']

In [67]:
r = EmptyListAsParamV1()
print("The value of r after 2nd iteration is: ", r)

The value of r after 2nd iteration is:  ['24July2021']

In [68]:
r = EmptyListAsParamV1()
print("The value of r after 3rd iteration is: ", r)

The value of r after 3rd iteration is:  ['24July2021']